{% extends 'base.html' %}
{% block content %}

<div class="container card">
    <h4 class="text-center m-4">{{request.user.username}} Employment Records</h4>
    <table class="table table-success table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Company</th>
            <th scope="col">Join Date</th>
            <th scope="col">Last Work Day</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for emp in emps %}
        <tbody>
          <tr>
            <th scope="row">{{emp.id}}</th>
            <td>{{emp.company}}</td>
            <td>{{emp.join_date}}</td>
            <td>{{emp.last_working_day}}</td>
            <td>
                <a href="{% url 'employment_update' emp.id %}"><input type="button" value="Edit" class="btn btn-primary"></a>
                <a href="{% url 'employment_delete' emp.id %}"><input type="button" value="Delete" class="btn btn-danger"></a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
</div>
{% endblock content %}