{% extends 'base.html' %}
{% block content %}
<div class="container h-100 card shadow mt-4 ">
    <form action="" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-4"><h4 class="text-center">Employee :{{request.user.username}}</h4></div>
            <div class="col-4"><h5 class="text-center">VORKINGSTA BGV</h5></div>
            <div class="col-4"><h5 class="text-center">
                <h5>Status : Not Submitted</h5>
            </h5></div>
        </div>
        <div class="container card border m-2 card shadow">
            <h4 class='ms-3' style={float: left;}>Employemnt</h4>
            <div class="row mt-4">
                <div class="col-4 text-center"><h6>Company Name</h6><br><span class='mt-0'>{{form.company}}</span></div>
                <div class="col-4 text-center"><h6>Joining Date</h6><br><span>{{form.join_date}}</span></div>
                <div class="col-4 text-center"><h6>Last Working Day</h6><br><span>{{form.last_working_day}}</span></div>
            </div>
            <div class="row mt-5">
                <div class="col-6"></div>
                <div class="col-6">
                </div>
            </div>
            <div class="row mt-5 mb-4">
                <div class="col-2"></div>
                <div class="col-2" style={float: right;}><h6>Upload Certificate :</h6></div>
                <div class="col-8"><span>{{form.certificate_file}}</span></div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-2 text-center"></div>
            <div class="col-8 text-center">
                <a href="" class='p-3'><input type="submit" value="Save" class="btn btn-primary p-2"></a>
            </div>
            <div class="col-2 text-center"></div>
        </div>
    </form>
</div>
{% endblock content %}