{% extends 'base.html' %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card card shadow p-5 m-4">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">REGISTER ACCOUNT</h3>
            </div><hr>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope text-primary p-1"></i></span>
                        </div>
                        {{form.email}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user text-primary p-1"></i></span>
                        </div>
                        {{form.username}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-lock text-primary p-1"></i></span>
                        </div>
                        {{form.password1}}
                    </div>
                    
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-lock text-primary p-1"></i></span>
                        </div>
                        {{form.password2}}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user text-primary p-1"></i></span>
                        </div>
                        {{form.first_name}}
                        
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user text-primary p-1"></i></span>
                        </div>
                        {{form.last_name}}
                    </div>
                    <div class="input-group mb-3">
                       
                        {{profile_form.gender}}
                    </div>
                    <div class="input-group mb-3">
                        
                        {{profile_form.country}}
                    </div>
                    <div class="input-group mb-3">
                        
                        {{profile_form.term_condition}}  I agree terms and Conditions
                    </div>
                    <div class="input-group mb-3">
                    
                        {{profile_form.agree_notifications}}  I agree to newslatter via email
                    </div>
                   
                       <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn login_btn btn-primary form-control" type="submit" value="Update Account">
                       </div>
                </form>
            </div>

            

            
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Click here to update you adhar card     <a href="" class="ml-2"> Update Adhar</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}